@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: "Nunito", sans-serif;
  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


.aside-img {
  background-image: url("https://images.pexels.com/photos/789822/pexels-photo-789822.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  position: relative;
}

.overlay {
  mix-blend-mode: multiply;
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgb(1, 1, 19, 0.5); 
}

.aside-content {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 40px;
  line-height: 1.2;
  padding: 25px;
}

.hero-section{
  width: 100%;
}

.margin-top-zero {
  margin-top: 0px !important;
}

.bg-gradient-to-b {
  background-image: linear-gradient(to bottom, #ffffff, #e8eef7);
}

.bg-gradient-to-t{
  background-image: linear-gradient(to top, #ffffff, #e8eef7);
}

.my-container {
  width: min(100% - 30px, 1080px);
  margin-inline: auto;
}

.members {
  margin-top: 20px;
  gap: 20px;
  display: flex;
}

.members img {
  border-radius: 8px;
}

.members div {
  text-align: center;
}

.name {
  margin-top: 20px;
  font-size: 20px;
  font-weight: 600;
}

.position {
  font-size: 13px;
  margin-bottom: 10px;
  font-weight: 600;
}

.history {
  font-size: 13px;
  color: #777777;
}
